{% extends 'Base.html' %} {% block content %}

<div class="container mt-2">
  <div class="result-form pt-3">
    <form method="GET" action="">
      <input
        type="text"
        class="search-text"
        name="search_query"
        value="{{search_query}}"
        placeholder="search by name."
      />
      <input type="submit" value="Search" class="btn btn-primary" />
    </form>
  </div>

  <div class="row">
    {% for staff in staffs %}

    <div class="col-md-6 col-lg-4">
      <div class="card rounded p-2 my-2 mx-3 shadow" style="width: 22rem">
        <div class="card-body">
          <a href="{% url 'staff' staff.id%}">
            <img
              src="{{ staff.profile_img.url }}"
              class="card-img-center img-fluid rounded-circle"
              alt="..."
            />
          </a>
          <h4 class="card-title text-center mt-2">{{staff.name}}</h4>
          <h6 class="card-title text-center">{{staff.education}}</h6>
          <p class="card-text text-justify">{{staff.bio|slice:'100'}}..</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}
